/* 
author:uibrush.com
get free PSD and responsive html templates visit http://www.uibrush.com/
*/
*{
 font-family: 'Open Sans', sans-serif;
}
.wrapper{
	width: 100%;
	margin: 0 auto;
}
@media (min-width:1200px){

  .wrapper{
   width: 1344px;
   margin: 0 auto;
 }
 .container {
  padding: 0;
  position: relative;
}

div#bs-example-navbar-collapse-1 {
  padding-right: 0;
}
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}

}
@media (max-width:1200px){
  img {
    vertical-align: middle;
    width: 100%;
  }
}
.col-lg-3.col-xs-6 {
  margin: 0 auto;
  text-align: center;
}
@media (max-width:500px){
  .col-lg-3.col-xs-6 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}
a, a:hover, a:focus{
  text-decoration: none;
}
.service-icon {
  font-size: 60px;
  color: #333333;
  padding-right: 10px;
  margin-top: 0px;
}
img {
  vertical-align: middle;
  width: 100%;
}
h2 {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  color: #444444;
  margin-top: 60px;
  margin-bottom: 30px;
}
h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 25px;
  color: #444444;
  position: relative;
}
h4 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 20px;
}

p {
  color: #969696;
  font-size: 13px;
}

a:hover{
  text-decoration: none;
}
.navbar-brand span {
  color: #A3C83A;
}
a.navbar-brand {
  color: #2f2e2e !important;
  font-weight: bold;
  font-size: 24px;
  padding-top: 28px;
}
.navbar {
  margin-bottom: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color: inherit;
  color: #A3C83A;
}
.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  font-weight: bold;
  color: #1b1a1a ;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
}
input[type="text"], textarea {
  width: 100%;
  border: 1px solid #b2b2b2;
  padding: 10px;
  font-size: 13px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.caption h1 {
  background: #0d0d0d;
  font-weight: bold;
  font-size: 48px;
  text-align: right;
  color: white;
  display: table;
  clear: both;
  float: right;
  margin: 1px;
  padding: 0px 10px;
  text-transform: uppercase;
}
h1 span {
  color: white;
  font-weight: 400;
}
.navbar-default {
  background-color: inherit;
  border: none;
}
.nav .last {
  padding-right: 0;
}
.header-intro {
  text-align: center;
}
.our-services {
  text-align: center;
}
.col-md-3:hover .fa {
  color: #a3c83a;
}
h3:after {
  content: '';
  width: 20px;
  height: 2px;
  background: #c8c8c8;
  position: absolute;
  bottom: -10px;
  right: 50%;
}
.header-intro p {
  margin-bottom: 60px;
  font-size: 14px;
  text-align: center !important;
}
.promo {
  width: 100%;
  min-height: 115px;
  background: #a3c83a;
  margin-top: 50px;
}
.promo p {
 color: white;
 font-size: 24px;
 font-weight: 300;
 float: left;
 margin-top: 45px;
}
.promo p span {
  color: #444444;
}
.line-btn, .line-btn:hover, .line-btn:focus {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 8px;
  margin-top: 30px;
  float: left;
  margin-left: 32px;
  text-decoration:none;
}
.line-btn:hover, .line-btn:focus{
	color:#444;	
}
.our-works img {
  margin-bottom: 30px;
}
.our-works > div {
  position: relative;
}
.caption-container {
  position: absolute;
  top: 0px;
  background: rgba(0,0,0,0.6);
  box-sizing: border-box;
  width: 360px;
  height: 232px;
  
}
.portfolio-caption {
  background: #a3c83a;
  margin-top: 90px;
  height: 52px;
}

h5 {
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  float: left;
}
.portfolio-caption h5 {
  margin-left: 80px;
  margin-top: 17px;
}
.portfolio-caption p {
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  font-weight: 300;
  font-style: italic;
  color: white;
}
.caption-container {
  display: none;
}

.footer h5 {
  float: none;
  margin-bottom: 15px;  
}
.footer {
  background: #31383d;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer ul {
  padding-left: 0;
  list-style: none;
}
.footer li {
  margin-bottom: 10px;

}
.footer a {
  color: #b2b2b2;
  font-size: 13px;
  text-transform: uppercase;
}
.twitter li {
  color: #b2b2b2;
  margin-left: 23px;
  font-size: 13px;
}
.twitter i {
  color: #a3c83a;
  font-size: 15px;
  margin-left: -23px;
}
.twitter span, .twitter span a {
  color: #a3c83a;
}
.testimonial li {
  color: #b2b2b2;
  font-size: 13px;
}
.testimonial i {
  color: #b2b2b2;
  font-size: 35px;
  float: left;
  margin-right: 25px;
  margin-bottom: 7px;
}
.t-image img {
  width: 86px;
  float: left;
}
.t-image h6 {
  float: left;
  color: white;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0px;
}
.t-image p {
  margin-left: 17px;
  float: left;
  color: white;
  font-style: italic;
  font-weight: 300;
}
.t-image {
  margin-top: 20px;
}
.footer-form {
  background: #f7f7f7;
  padding: 20px 15px;
}
.footer-form h5 {
  color: #444444;
}
.submit-bt {
  background: #A3C83A;
  border: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 15px;
  font-style: normal;
  font-size: 16px;
}
.submit-bt:hover{
	color:#444444;
}
.copyright .container p {
  color: white;
  text-align: center;
  margin: 8px;
}
.copyright {
  background: #575F65;
}
.inner-head h4 {
  font-size: 28px;
  font-weight: 300;
  text-transform: lowercase;
  color: white;
  margin-top: 32px;
}
.inner-head {
  background: #A3C83A;
  min-height: 100px;
  margin-bottom: 60px;
}
.inner-head a {
  font-size: 14px;
  color: #444;
  font-style: italic;
}
.pagination {
  margin-top: 41px;
}
.pagination span {
  padding: 0 5px;
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.about-us h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.inner-page p {
  font-size: 14px;
  text-align: justify;
  line-height: 25px;
  font-weight:300;
}
.what-we-do {
 margin-top: 60px;
 margin-bottom: 60px;
}
.up-icon{
  content: "";    
  float: left;      
  width: 28px;
  height:28px;
  background:url(../img/up_icon.png) no-repeat; 
  position: relative;
  top: -4px;
  left: -4px;     
}
.down-icon {

 content: "";    
 float: left;      
 width: 28px;
 height:28px;
 background:url(../img/down_icon.png) no-repeat;    
 position: relative;
 top: -4px;
 left: -4px; 
}
a.accordion-toggle {
  font-size: 17px;
  font-weight: 300;
  color: #a3c83a;
  text-transform: capitalize;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: inherit;
  border-color: none;
  border: none !important;
}
.panel-default {
  border: none;
}
.panel-body {
  border: none !important;
  font-size: 14px;
  font-weight: 300;
  color: #969696;
  line-height: 26px;
  margin-left: 30px;
  text-align: justify;
  padding-top: 5px;
}
.panel-default {
  border: none;
  box-shadow: none;
}
.our-works {
  padding-bottom: 30px;
}
.clearfix {
  position: relative;
  z-index: -1;
}
.grey-bg {
  background: #f8f8f8;
  padding-top: 30px;
}
.panel-body {
  padding-bottom: 0;
}
.team-name {
  position: absolute;
  bottom: 35px;
  width: 100%;
  background: rgba(255,255,255,0.4);
}
.team-member {
  position: relative;
}
.team-name p {
  color: white;
  float: right;
  margin-right: 15px;
  padding-top: 5px;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 300;
}
.our-team h5 {
  float: left;
  display: inline-block;
  color: #222222;
  margin-left: 10px;
}
.team-social {
  text-align: center;
  background: #A3C83A;
  height: 35px;
}
.team-social .fa {
  color: white;
  font-size: 18px;
  margin-top: 9px;
  margin-left: 5px;
}
.our-team {
  padding-bottom: 60px;
}
.our-services p {
  text-align: center;
    margin-bottom: 0;
}
.col-md-6 h2 {
  margin-top: 0;
}
.services .our-services {
  margin: 0;
}
.testimonial.main img {
  max-width: 55px;
}
.cd-testimonials p {
    text-align: center;
  font-size: 13px;
  font-style: normal;
  color: #DDDDDD;
  line-height: 20px;
  font-weight: 400;
  margin-top: 10px;
}
.testimonial.main{
    background: url('../img/testimonial_bg.jpg');
    padding: 30px 0 10px 0;
      margin-top: 60px;
}
.cd-author {
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
}
.cd-author span {
    float: left;
  text-transform: uppercase;
  color: #a9cc48;
  font-weight: 600;
}
.cd-author p {
  font-weight: 300;
  font-style: italic;
  color: white;
}
button.active {
  background: #a9cc48;
  color: white;
  border-radius: 0;
  border: none;
}
.recent-works .header-intro p {
  margin-bottom: 0px;
}
.works-container img {
  margin-bottom: 30px;
}
.portfolio-img-wrap:hover .caption-container {
  display: block;
}
.mix .caption-container {
  position: absolute;
  top: 0px;
  background: rgba(0,0,0,0.6);
  box-sizing: border-box;
  width: 263px;
  height: 169px;
}
.mix .portfolio-caption {
  background: #a3c83a;
  margin-top: 68px;
  height: 45px;
}
.portfolio-img-wrap:hover .caption-container {
  display: block;
}
.mix .portfolio-caption h5 {
  margin-left: 80px;
  margin-top: 15px;
}
.works-container {
  margin-bottom: 30px;
}
.price-container {
  border: 1px solid #e4e4e4;
  padding: 0;
  margin-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}
.pricing h4 {
  padding: 25px 0;
  font-size: 29px;
  color: #f0f0f0;
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  background: #444444;
}
.price {
  background: #f7f7f7;
  border-top: 1px solid #e4e4e4;
  padding: 25px 0;
  padding-top: 35px;
}
.price-text {
  display: table;
  margin: 0 auto;
}
.price span, .price p {
  float: left;
}
.symbol {
  font-size: 24px;
  padding-right: 4px;
  position: relative;
  bottom: -12px;
  font-weight: 300;
  color: #444444;
}
p.number {
   font-size: 60px;
  color: #333333;
  font-weight: bold;
}
.pricing ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-bottom: 25px;
}
.pricing li {
  margin-top: 25px;
  color: #6d6d6d;
}
.buy {
   background: #444444;
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
  padding: 10px 25px;
  display: table;
  float: none;
  margin: 0 auto;
  border-radius: 5px;
}
.buy:hover{
	color: white;
}
.popular h4 {
  background: #a9cc48;
  color: #444444;
}
.popular .buy {
  background: #a9cc48;
  color: #444444;
}
.pricing li span {
  font-weight: bold;
}
.no-margin{
  margin: 0;
}
.contact .fa {
    font-size: 20px;
  margin-left: 10px;
  text-align: center;
  width: 30px;
}
.contact h5 {
  color: #444444;
  display: block;
  float: none;
  margin-bottom: 20px;
    margin-top: 0;
}
.contact-detail h5 {
  margin-bottom: 10px;
  margin-top: 20px;
}
.contact-detail span {
  font-size: 14px;
  font-weight: bold;
  color: #444444;
}
button.send {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px 25px;
  display: table;
  float: none;
  margin: 0 auto;
  border-radius: 3px;
  background: #a9cc48;
  color: #ffffff;
  border: none;
  float: left;
  margin-bottom: 60px;
}
.service-icon{
  width: 63px;
  height: 63px;
  display: inline-block;
    margin-top: 50px;
}
.service-one {
  background: url('../img/service1.png');
}
.col-md-3:hover .service-one {
  background: url('../img/service1_hover.png');
}
.service-two {
  background: url('../img/service2.png');
}
.col-md-3:hover .service-two {
  background: url('../img/service2_hover.png');
}
.service-three {
  background: url('../img/service3.png');
}
.col-md-3:hover .service-three  {
  background: url('../img/service3_hover.png');
}
.service-four {
  background: url('../img/service4.png');
}
.col-md-3:hover .service-four {
  background: url('../img/service4_hover.png');
}
.service-five {
  background: url('../img/service5.png');
}
.col-md-3:hover .service-five {
  background: url('../img/service5_hover.png');
}
.service-six {
  background: url('../img/service6.png');
}
.col-md-3:hover .service-six {
  background: url('../img/service6_hover.png');
}
.service-seven {
  background: url('../img/service7.png');
}
.col-md-3:hover .service-seven {
  background: url('../img/service7_hover.png');
}
.service-eight {
  background: url('../img/service8.png');
}
.col-md-3:hover .service-eight {
  background: url('../img/service8_hover.png');
}
.navbar button {
  min-width: inherit;
}
@media (min-width:1025px){
  .promo p {
    margin-left: 150px;
  }
  .flex-viewport > ul > li {
    margin-left: -10px;
}
.flex-direction-nav li:first-child {
  left: 130px;
}
.flex-direction-nav li:last-child {
  right: 60px;
}
div#pricing {
  padding: 0;
}
}
@media (max-width:1024px){

.line-btn, .line-btn:hover, .line-btn:focus {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 8px;
  margin: 0 auto;
  float: none;
  text-align: center;
  text-decoration: none;
  display: table;
  margin-top: 5px;
}
.promo p {
 float: none;
 margin: 0 auto;
text-align: center;
margin-top: 5px;
  }
  .caption-container {
  width: 91%;
  height: 183px;
}
.portfolio-caption {
    margin-top: 70px;
}
}
@media (max-width:800px){
  .contact-footer {
    clear: both;
  }
  .promo p {
  color: white;
  font-size: 24px;
  font-weight: 300;
  float: none;
  margin-top: 45px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
.caption-container {
  width: 88%;
  height: 135px;
}
.portfolio-caption {
    margin-top: 47px;
}
.portfolio-caption h5 {
    margin-left: 20px;
  }
}

@media (max-width:700px){
.navbar-collapse.pull-right.collapse {

  padding: 0 20px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7;
  width: 109%;
}
.navbar-default .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
a.navbar-brand {
  padding-top: 16px;
}
.caption-container {
    height: 136px;
    width: 88%;
}
}
@media (max-width:600px){
.portfolio-caption {
    margin-top: 157px;
}
.caption-container {
    height: 347px;
    width: 95%;
}
.portfolio-caption h5 {
    margin-left: 170px;
}
.promo {
    padding-bottom: 15px;
}
.footer .col-sm-4 {
    margin-bottom: 20px;
}
.footer .testimonial {
    clear: both;
    display: table;
}
.footer .col-sm-2 {
    margin-bottom: 20px;
}
.caption {
    top: 22px;
}
}
@media (max-width:400px){
.portfolio-caption {
    margin-top: 66px;
}
.portfolio-caption {
    margin-top: 66px;
}
.caption-container {
    height: 168px;
    width: 90%;
}
    .caption h1 {
    font-size: 24px;

  }
  .caption {
    height: inherit !important; 
}
.portfolio-caption h5 {
    margin-left: 50px;
}
}
